@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&family=Poppins:wght@300;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans Display', sans-serif;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.frame-path {
  width: 100%;
  overflow: visible;
  stroke: white;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: 300px;
}